Clientes/Clientes.dtd

<!ELEMENT clientes (sede*)>
<!ELEMENT sede (direccion, empleado, fecha, descripcion, cliente)>
    <!ATTLIST sede codigo CDATA #REQUERIDO>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT empleado (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT cliente (numero, coste, resumen, plazo)>
    <!ATTLIST cliente codigo CDATA #REQUERIDO>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>